{% extends "base.html" %}
{% block seo %}
  {{ super() }}
  {% set title = "Home" %}

  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

{% set description = config.description %}

{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true, type="website")
}}
{% endblock seo %}

{% block content %}
<h1>Hello!</h1>
  <p>Welcome to Cozy Corner Collective.</p>
  <h2>What is Cozy Corner Collective?</h2>
  <p>Cozy Corner Collective is a group of creatures who love cozy and cute stuff.</p>
  <h3>How can i join?</h3>
  <p>To join the webring, open a <a href="https://github.com/CozyCornerCollective/cozycornercollective.github.io/compare">pull request</a> and add URL of your site.</p>
  <h3>Add the banner</h3>
  <p>Once you've joined the ring, copy this code snippet into your site:</p>
  <textarea readonly rows="9" style="resize:none; width:100%;"><script async src="https://webringdemo.netlify.com/embed.js" charset="utf-8"></script>
  <div id='cozyCorner'>
  <link rel="stylesheet" href="https://cozycornercollective.github.io/webring/onionring.css">
  <script type="text/javascript" src="https://cozycornercollective.github.io/webring/onionring-variables.js"></script>
  <script type="text/javascript" src="https://cozycornercollective.github.io/webring/onionring-widget.js"></script>
</div></textarea>
{% endblock content %}
